<aside id="sidebar" class="sidebar @(_showSidebar ? "" : "hidden-sidebar")">
    <ul class="sidebar-nav">
        <li class="nav-item">
            <NavLink class="nav-link" href="/">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </NavLink>
        </li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
    </ul>
</aside>