@page "/components/accordions"

<PageTitle>Components / Accordion</PageTitle>

<PageHeader Title="Alerts"
            Breadcrumbs="@_breadcrumb"/>


<div class="row">
    <div class="col-lg-6">
        <div>
            <Card Title="Default Accordion">
                <CardBody>
                    <Accordion ExpandedIndex="0">
                        <Items>
                            <AccordionItem Title="Accordion Item #1">
                                <strong>This is the first item's accordion body.</strong> It is hidden by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>,
                                though the transition does limit overflow.
                            </AccordionItem>
                            <AccordionItem Title="Accordion Item #2">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default,
                                until the collapse plugin adds the appropriate classes that we use to style each
                                element. These classes control the overall appearance, as well as the showing and hiding
                                via CSS transitions. You can modify any of this with custom CSS or overriding our
                                default variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </AccordionItem>
                            <AccordionItem Title="Accordion Item #3">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>,
                                though the transition does limit overflow.
                            </AccordionItem>
                        </Items>
                    </Accordion>
                </CardBody>
            </Card>
        </div>
    </div>
    <div class="col-lg-6">
        <div>
            <Card Title="Accordion without outline borders">
                <CardBody>
                    <Accordion Flush="@true">
                        <Items>
                            <AccordionItem Title="Accordion Item #1">
                                Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code>
                                class. This is the first item's accordion body.
                            </AccordionItem>
                            <AccordionItem Title="Accordion Item #2">
                                Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the second item's
                                accordion body. Let's imagine this being filled with some actual content.
                            </AccordionItem>
                            <AccordionItem Title="Accordion Item #3">
                                Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the third item's
                                accordion body. Nothing more exciting happening here in terms of content, but just
                                filling up the space to make it look, at least at first glance, a bit more
                                representative of how this would look in a real-world application.
                            </AccordionItem>
                        </Items>
                    </Accordion>
                </CardBody>
            </Card>
        </div>
    </div>
</div>

