@page "/"

<PageTitle>Dashboard</PageTitle>

<PageHeader Title="Dashboard"
            Breadcrumbs="@_breadcrumb"/>

<div class="row">
    <div class="col-md-6 col-12">
        <Card Title="Default Card">
            <CardBody>
                Ut in ea error laudantium quas omnis officia. Sit sed praesentium voluptas. Corrupti inventore
                consequatur nisi necessitatibus modi consequuntur soluta id. Enim autem est esse natus assumenda. Non
                sunt dignissimos officiis expedita. Consequatur sint repellendus voluptas. Quidem sit est nulla ullam.
                Suscipit debitis ullam iusto dolorem animi dolorem numquam. Enim fuga ipsum dolor nulla quia ut. Rerum
                dolor voluptatem et deleniti libero totam numquam nobis distinctio. Sit sint aut. Consequatur rerum in.
            </CardBody>
        </Card>

        <Card Class="mt-2">
            <CardHeader>
                Header
            </CardHeader>
            <CardBody>
                Ut in ea error laudantium quas omnis officia. Sit sed praesentium voluptas. Corrupti inventore
                consequatur nisi necessitatibus modi consequuntur soluta id. Enim autem est esse natus assumenda. Non
                sunt dignissimos officiis expedita. Consequatur sint repellendus voluptas. Quidem sit est nulla ullam.
                Suscipit debitis ullam iusto dolorem animi dolorem numquam. Enim fuga ipsum dolor nulla quia ut. Rerum
                dolor voluptatem et deleniti libero totam numquam nobis distinctio. Sit sint aut. Consequatur rerum in.
            </CardBody>
            <CardFooter>
                Footer
            </CardFooter>
        </Card>
    </div>
    <div class="col-md-3 col-12">
        <Card Title="Card with an image on top"
              ImgTop="https://bootstrapmade.com/content/demo/NiceAdmin/assets/img/card.jpg">
            <CardBody>
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </CardBody>
        </Card>

        <Card Class="mt-2"
              Title="Card with an image on bottom"
              ImgBottom="https://bootstrapmade.com/content/demo/NiceAdmin/assets/img/card.jpg">
            <CardBody>
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </CardBody>
        </Card>
    </div>

    <div class="col-md-3 col-12">
        <Card Title="Card with an image overlay"
              ImgTop="https://bootstrapmade.com/content/demo/NiceAdmin/assets/img/card.jpg"
              ImageOverlay="true">
            <CardBody>
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </CardBody>
        </Card>
        
        <Card Class="mt-2"
              Title="Card with titles, buttons, and links"
              Subtitle="Card subtitle">
            <CardBody>
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </CardBody>
        </Card>
        
        <Card Class="mt-2 text-center"
              Title="Special title treatment">
            <CardBody>
                <p class="text-center">
                    With supporting text below as a natural lead-in to additional content.
                </p>
                <p class="text-center">
                    <Button>Go Somewhere</Button>
                </p>
            </CardBody>
        </Card>
    </div>
</div>
