@page "/"

<PageTitle>Dashboard</PageTitle>

<PageHeader Title="Dashboard"
            Breadcrumbs="@_breadcrumb"/>

<div class="row">
    <div class="col-6">
        <div>
            <ListGroup>
                <Items>
                    <ListGroupItem>1</ListGroupItem>
                    <ListGroupItem>2</ListGroupItem>
                    <ListGroupItem>3</ListGroupItem>
                    <ListGroupItem>4</ListGroupItem>
                </Items>
            </ListGroup>
        </div>
    </div>
</div>
